<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app_40"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app_40"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.KTMedia"
        tools:targetApi="31">


        <activity
            android:name=".ui.playlist.UpdatePlayListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.playlist.AddPlayListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.playlist.PlayListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.images.show_image.ShowImageActivity"
            android:exported="false"
            android:theme="@style/Theme.KTMedia" />
        <activity
            android:name=".ui.videos.play_video.PlayVideoActivity"
            android:exported="false" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.musics.play_song_category.PlaySongActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>